*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:black;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.nav_icon{
    height: 25px;
}

nav{
    font-size: x-large;

}

.upper{
    overflow: hidden;
    height: 70px;
    display:flex;
    flex-direction: row;
    padding: 0 7vw;
    justify-content: space-between;
    align-items: center;
    /* gap:calc(10px + 4vw); */
}

.services{
    display:flex;
    flex-direction: row;
    
    width: 60%;
   
    overflow-y: hidden;
    overflow-x: hidden;
    
    justify-content: flex-end;
    font-size: small;
}



/* HTML: <div class="loader"></div> */
.loader {
    --s: 25px;
    
    --_d: calc(0.353*var(--s));
    width: calc(var(--s) + var(--_d));
    aspect-ratio: 1;
    display: grid;
    filter: drop-shadow(0 0 0 #fff);
    animation: l2 0.8s infinite;
  }
  .loader:before {
    content: "";
    clip-path: polygon(var(--_d) 0,100% 0,100% calc(100% - var(--_d)),calc(100% - var(--_d)) 100%,0 100%,0 var(--_d));
    background:
      conic-gradient(from -90deg at var(--s) var(--_d),
       #fff 135deg,#666 0 270deg,#aaa 0);
  }
  @keyframes l2{
    50% {filter:drop-shadow(0 0 5px #fff)}
  }

.details > p{
    font-size: smaller;
    color: grey;
}
.container{
    padding-top: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
   
    height: 60px;
    gap: 12px;
    border-right: 0.1px solid rgb(185, 185, 185);
}

#language{
    border: none;
    font-size: medium;
    background-color: transparent;
}





.login{
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: calc(10px + 4vw); */
}

.logo{
    font-weight: 800;
}

.lower{
    padding: 0 5vw;

    background-color: #F3F5F7;
    font-size:medium;
    width:100%;
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_box{
    height:70px;
    width: 150px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav_box:hover{
    background-color: #E5E5E5;
}

/* //search section starts here */

.search{
    height: 45vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgb(44,42,42);background: linear-gradient(0deg, rgba(44,42,42,1) 25%, rgba(85,81,81,1) 53%);}

.search > h1{
    color: white;
    font-size: 2.5rem;
}


.search_form{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.input{
    height:50px;
    border-right: 1px solid grey !important;
    width: 200px;
    border: none;
    padding: 0 10px;

}

.bt{
    height:50px;
    width: 130px;
    font-size: large;
    font-weight: 600;
    background-color: #128036;
    color: white;
    border: none;

}

.prev > *{
    color: white;
}

.prev{
    display:flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}

.prev-desc{
    color: white;
    border: 1.5px solid white; height: 30px;
    width: auto;
    height: 35px;
    border-radius: 7px;
    padding: 7px 15px;
}

.promotion{
    display:flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 3vw;
    padding-left: 5%;
    cursor: pointer;

}


.promotion > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.newsletter{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0 7vw 7vw 7vw;
    height: 100px;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 10px;
    padding: 0 10px;
}


.left{
    display: flex;
    gap: 20px;
    width: 50%;
}

.right{
    display: flex;
    gap: 10px;
    width: 50%;
}

.right > input{
    height: 40px;
    width: 70%;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 0 10px;
}

.right > button{
    height: 40px;
    width: 25%;
    border: none;
    background-color: #EE2A24;
    color: white;
    border-radius: 10px;
}

/* about section */

.about{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F5F7;;
    padding: 5vw;
}


.info{
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}


footer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #6D787D;
    padding: 2vw 5vw 0 5vw;
    color: white;
}


.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    
    
}

.top > *{
    color:#F3F5F7
}

.head{
    font-size: xx-large;
}

.content{
    display: flex;
     margin-top: 2px;
      align-items: flex-start;
       justify-content: flex-start;
        flex-direction: column;
}

.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    height: 35vh;
    margin:5vw 5vw 2vw 5vw;
    padding: 2.5vw 2.5vw 0 2.5vw;
    border-top: 1px solid white;
}


.terms{
    width: 30%;
    display: flex;
    gap: 25%;

    height: 100%;
}
.aboutus{
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 25%;
    height: 100%;
    border-right: 1px solid white;  
}

.aboutus > ul{
    list-style-type: none;
    
}

.terms > ul{
    list-style-type: none;
}

.below{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height:60vh;
    padding:20px;
    padding-top: 40px;
    border-top: 1px solid white;
}

.below > h2{
    color: white;
}

.links{
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    height: 100%;
    width: 100%;

}

.links > ul{
    list-style-type: none;
    color: white;
}

.links > ul> li{
    margin: 15px 0;
    font-weight: bolder;
    color: white;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 20px;
    width: 100%;
}

.bottom> h2{
    color: white;
}

.aboutus > ul > li{
    margin: 20px 0;
    color: white;
    
}

.aboutus > ul{
    height: 100%;
}

.terms> ul > li{
    margin: 20px 0;
    color: white;
}

.app{
    width: 30%;
    height: 100%;
    padding-top: 15px;
    display: flex;
    gap: 20px;
    border-right: 1px solid white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}





.app > h3{
    color: white;
}

.playstore > img{
    border-radius: 20px;
}

.gallery{
    display: flex;
    flex-direction: row;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    gap: 5px;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.image{
  
    height: 100%;
    border-radius: 10px;
}

.image > img{
     height: 100%;
}

.prv, .nxt{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid red;
    background-color: white;
    font-size: 1.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.576);
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    color: red;
}

.prv{
    left: 0;
}
.nxt{
    right: 0;
}   

.description{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: space-around;
    width: 80%;
    gap: 20px;
    padding:10px;
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
}

.information{
    display:flex;
    flex-direction: column;
   
    width: 100%;

}

.information> h1{
    color: black;
    font-size: 2.5rem;
    margin:10px  0;

}

.showmore{
    color: #EE2A24;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: 600;
    padding: 0;
    margin: 0;
    text-align: left;
}

.information>h2{
    margin: 20px 0;
}

.information> p{
    color: rgb(194, 194, 194);
    font-size: 1rem;
}

.amenities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    overflow-y: hidden;
}

.amenities>ul{
    list-style-type: none;
}
.amenities>ul>li{
    margin: 10px 0;
}

.rooms{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
}

.room{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.rating{
    width: 100%;
    border: 1px solid rgb(185, 185, 185);
    display:flex;
    height: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.rating>div{
    margin: 0 50px;
}

.rating > div> h2{
    background-color: #2fd735;
    font-size: 2rem;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.info{
    display:flex;
    flex-direction: column;
    gap: 20px;

}

.stickybook{
    position: sticky;
    top: 0;
    max-width: 40%;
    height: 60vh;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: flext-start;
    background-color: white;
    text-align: center;
    padding: 20px 40px;
    border: 1px solid rgb(185, 185, 185);
    width: 100%;
    z-index: 100;
}

.stickybook > h1, .stickybook p{
    color: black;
    text-align: left;
}
.stickybook > button{
    border: none;
    background-color: #82ee24;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}


.dates > input{
    height: 40px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 0 10px;
}
.info > button{
    border: none;
    background-color: #EE2A24;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    
}
.room >img{
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

.info > p{
    font-weight: 400;
    color: grey
}


@media screen and (max-width:768px){
    .search{
        height: 50vh;
    }
    .search > h1{
        margin: 0 5vw;
        color: white;
        font-size: 1.5rem;
    }
    .search_form{
        flex-direction: column;
        
    }

        .prev-desc{
            height: fit-content;
        }

        .bt{
            width: 100%;
            margin-top: 10px;
        }

        .newsletter{
            flex-direction: column;
           height: fit-content;
           padding: 10px 0;
        }

        .content{
            align-items: center;
            justify-content: center;
            font-size: x-small;
            width: 100%;
        }

        .newsletter{
            padding: 10px;
        }

        .left{
            width: 100%;
            justify-content: center;
            align-items: center;
            
        }

        .right{
            width: 100%;
            justify-content: center;
            align-items: center;
        }


}



